@import 'recipe.css';
.board {
  display: flex;
  width: 320px;
  margin: auto;
  flex-wrap: wrap;
}
.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.square:hover {
  background-color: aquamarine;
}

.edit-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  background-color: yellow;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 30px;
}
.recipeList-container {
  margin: 0;
  margin-left: 10px;
  width: 48%;
  /* border-bottom: 1px solid black; */
  /* background-color: blue; */
}
.recipe-container {
  padding: 10px;
  /* background-color: red; */
  border-bottom: 1px solid black;
}
.btn-container {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  /* background-color: red; */
  /* opacity: 0.6; */
}
.btn-add {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.btn-add:hover {
  /* position: sticky; */
  color: #fff;
  background-color: black;
  padding: 9px 14px;
  border-radius: 10px;
}
.recipe-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recipe-main {
  display: grid;
  /* background-color: red; */
  grid-template-columns: auto 1fr;
  gap: 5px;
  border-bottom: 1px dotted black;
  margin-left: 10px;
}
.ingredient-container {
  border-top: 1px dotted black;
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
}
.ingredientEdit-container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: auto auto;
}
